#banner
  .banner_content
    %h1 Bookie
    %p Better Reading. Your curated bookshelf. 
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "An ecosystem for friends, family, avid readers and authors to read and share books"

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Books
        %p Leveraging technology and social media capabilities to help more people read what they want to

      .callout
        %i.fa.fa-rocket
        %h2 Reviews
        %p So many items we all struggle with what to read next and many times, we look to our friends to advocate for a book we should read 

      .callout
        %i.fa.fa-bolt
        %h2 Sharing
        %p Viral Echo Park Intelligentsia tattooed, craft beer organic authentic polaroid tousled mlkshk church-key. Fanny pack Banksy vegan  authentic Helvetica.
#bottom_cta
  .wrapper
    %h2 For Realz!
    %p I want you to sign up... If you don’t. I will find you!
    %button= link_to "Click Meee!!!", new_user_registration_path

%footer
  %p &copy; CocaManProductions


